@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Halant:wght@600&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #ffffff;
}

li{
    list-style-type: none;
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    background-color: #F6F3F0;
}

.logo-header-login{
    display: flex;
    border-radius: 50%;
}

/*Main*/

.servicos{
    display: flex;
    height: 100%;
    height: 500px;
    justify-content: space-evenly;
    margin: 40px;
    font-family: 'Righteous', cursive;
}

.paragrafos-servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
}
.encomendas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.botao-servicos{
    display: flex;
    height: 90px;
    width: 250px;
    font-family: 'Righteous', cursive;
    border: #F6F3F0;
    background-color: #F6F3F0;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 3px 3px #D9D9D9;
    color: #763E0B;
}

.itens-encomendas{
    display: flex;
}

.imagem-itens-encomendas{
    border-radius: 3%;
    box-shadow: 6px 3px 3px #D9D9D9;
    margin-right: 25px;
}

.trocas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 290px;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 24px;
    background-color: #D9D9D9;
    border-top: 0.4px #000000 solid;
}

.logo-footer{
    border-radius: 50%;
    margin-left: 20px;
}

.menu-footer{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-menu-footer{
    padding: 5px;
    color: #000000;
    font-family: 'Habibi', serif;
    width: 180px;
    text-decoration: underline;
}

.titulo-footer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Righteous', cursive;
    padding: 20px;
}

.duvidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-instagram{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Righteous', cursive;
    color: #000000;
    width: 250px;
    background-color: #FCF9F7;
    border-radius: 7%;
    padding: 15px;
}